<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body style="background-color: rgb(255, 255, 222);">
  <%- include('./partials/nav.ejs') %>
  <div class="container">
    <article>
      <div class="posts-info">
        <span>date</span>
        <span>author</span>
      </div>
      <h1>title</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi magnam illum odio voluptatem porro ducimus ea dicta corrupti commodi quam, sequi dolorem dolor atque praesentium iure obcaecati doloremque sit nulla!</p>
    </article>
  </div>
</body>
</html>